.left-bar {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10rem;
}

.left-bar__anchor:visited {
  color: var(--black2);
}

.left-bar__anchor:active {
  color: var(--blue2);
}

.left-bar__anchor:hover {
  color: var(--blue2);
}
