.left-bar {
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 250px;
  width: 50px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid rgb(145, 145, 145);
  margin: 10px;
  background-color: white;
}
.left-bar a {
  margin: 20px auto 20px;
  padding: 10px;
}
.left-bar a:hover {
  transition: 0.4s;

  background-color: rgb(181, 172, 190);
  border: rgb(250, 248, 248);
  border-radius: 10px;
}
.left-bar a:visited {
  color: var(--black2);
}
