.hero-section:hover {
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* @media (max-width: 900px) {
  .projects-list {
    width: 320px;
  }
} */
section {
  display: grid;
  margin: 100px 25% auto;
  text-align: center;
  /* border: 3px solid black; */
  /* background-color: yellow; */
}
.hero-div {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% 80%;
  width: 100%;
  align-items: center;
  height: 220px;
  /* background-color: tomato; */
}
.elements-inside-section {
  margin: 20px auto;
}
.hero-name {
  color: var(--text-blue-color);
  font-size: 2.5rem;
}
.hero-greeting {
  margin-left: 20px;
  text-align: left;
  font-size: 0.8rem;
}
.hero-name {
  margin-left: 45px;
}
.hero-title span {
  color: var(--text-blue-color);
  padding: 3px;
}
