* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.projects-title {
  width: fit-content;
  color: white;
}

.line-span {
  width: 80%;
  height: 1px;
  background-color: purple;
  margin-left: 1rem;
}

.projects {
  width: 100%;
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  color: white;
}

.projects-list {
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 980px;
  list-style: none;
  margin-bottom: 8rem;
}

@media (max-width: 900px) {
  .projects-list {
    width: 320px;
  }
}
