/* @media (max-width: 900px) {
  .projects-list {
    width: 320px;
  }
} */

section {
  display: grid;
  margin: 100px 25% auto;
  /* background-color: yellow;
  border: 3px solid black; */
  text-align: center;
}

.side-bar {
  width: 10px;
  height: 500px;
}

.hero-button {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--text-blue-color);
  width: 50%;
  color: white;
}

.elements-inside-section {
  margin: 20px auto;
}

.hero-name {
  color: var(--text-blue-color);
  font-size: 2.5rem;
}
.hero-button:hover {
  cursor: pointer;
  background-color: #00319b;
}

.hero-greeting {
  margin-left: 20px;
  text-align: left;
  font-size: 0.8rem;
}

.hero-name {
  margin-left: 45px;
}
