.projects {
  display: flex;
  flex-direction: column;
  margin: 30px 7% auto;
}

.about__header-container {
  display: inline-flex;
  align-items: center;
  padding: 1rem 0 1rem;
}

.about__line {
  width: 80%;
  background-color: var(--blue2);
  margin-left: 0.5rem;
  height: 1px;
}

.img__cards {
  width: 270px;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-flow: wrap column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 16px;
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  margin: auto;
  gap: 1.5rem;
}

.card__header {
  text-align: center;
}

.card__header-text {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.tags {
  display: flex;
  margin: 0.5rem 0 2rem;
  padding: 0.3rem 0 1rem;
  line-height: 1;
  margin-bottom: 0;
}

.tags__tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 1px solid #515151;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  color: #e52e71;
  cursor: default;
}

.technologies {
  font-size: 20px;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-flow: nowrap;
  }

  .card:focus-within ~ .card,
  .card:hover ~ .card {
    transform: translateX(40%);
  }

  .card:hover {
    transform: translateY(-1rem);
  }

  .card:not(:first-child) {
    margin-left: -20%;
  }
  .projects {
    gap: 2rem;
  }
}

.tags__tech--github:hover {
  color: #fff;
  background-color: #17141d;
  cursor: pointer;
}
