.skills {
  display: flex;
  flex-direction: column;
  margin: 30px 7% auto;
}

.about__line {
  width: 80%;
  background-color: var(--blue2);
  margin-left: 0.5rem;
  height: 1px;
}

.about__header-container {
  display: inline-flex;
  align-items: center;
  padding: 1rem 0 1rem;
}

.skills__soft-hard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 2px solid var(--grey);
  border-radius: 1rem;
}

.skills__ul-hard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.skills__li-hard {
  font-size: 1.7rem;
  margin: 0.5rem;
}

.skills__h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .skills {
    margin: 7% 7% auto;
  }

  .skills__soft-hard {
    width: 80%;
    align-self: center;
  }

  .skills__li-hard {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .skills_ul-soft {
    padding: 0 7rem 2rem 7rem;
  }

  .skills__ul-hard {
    padding: 0 5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

}
