.skills {
  display: flex;
  flex-direction: column;
  margin: 30px 7% auto;
}

.about__line {
  width: 80%;
  background-color: var(--blue2);
  margin-left: 0.5rem;
  height: 1px;
}

.about__header-container {
  display: inline-flex;
  align-items: center;
  padding: 1rem 0 1rem;
}

.skills__soft-hard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem;
  height: 70vh;
  background-image: url('../../images/skills_image.png');
  background-size: cover;
  background-repeat: round;
  border-radius: 1rem;
}

.skills__li {
  list-style-type: disc;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.skills__hard {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .skills {
    margin: 7% 7% auto;
  }

  .skills__soft-hard {
    width: 70%;
    align-self: center;
  }
}
