.main-container-about {
  display: grid;
  grid-template-columns: 65% 35%;
  margin: 100px 200px 200px;
  background-color: rgb(190, 190, 190);
  border-radius: 10px;
  min-width: 500px;
}

.img-about {
  min-height: 20%;
  max-width: 90%;
  margin: auto auto;
  border-radius: 50%;
  /* border: 5px solid #444; */
}

.little-container-about-one {
  word-spacing: 3px;
  padding: 50px;
  background-color: var(--white-bg-color3);
  border-radius: 10px;
  box-shadow: 50 50 50;
}

.little-container-about-one p {
  font-size: 20px;
  margin: 40px auto;
}

.about-list {
  display: grid;
  grid-template-columns: auto auto;
}

.about-list li {
  margin: 10px;
}

.little-container-about-one strong {
  color: var(--text-blue-color);
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
}
