*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar {
  position: sticky;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  max-width: 100%;
  background-color: var(--grey);
  align-items: center;
  z-index: 1;
}

.navbar-img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-img-container__img {
  width: 27%;
  border-radius: 50%;
  transition: ease-out 1s;
  border: solid 5px var(--grey);
}

.navbar-img-container__name {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--black2);
  margin-left: 5px;
}

.spans {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  margin-left: auto;
}

.spans__unit {
  height: 2px;
  margin-bottom: 5px;
  background-color: var(--black2);
}

.navbar__anchor {
  padding: 15px;
  border-radius: 5px;
}

.navbar__anchor {
  color: var(--black2);
}

.navbar__anchor:active {
  transition: 0.4s;
  background-color: var(--white2);
  color: var(--blue2);
}

.navbar__anchor:visited {
  color: var(--black2);
}

.navbar__ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar__li {
  list-style-type: none;
}

.navbar__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-img-container__img:hover {
    transition: ease-in 1s;
    content: attr(title);
    border: solid 5px var(--black2);
  }

  .navbar__anchor:hover {
    transition: 0.4s;
    background-color: var(--white2);
    color: var(--blue2);
  }

  .navbar__list {
    display: flex;
  }

  .spans {
    display: none;
  }

  .navbar-img-container {
    justify-content: center;
  }
}
