.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: var(--grey);
  align-items: center;
  z-index: 1;
  /* border-top: 3px solid black; */
}
.navbar__anchor {
  padding: 15px;
  border-radius: 5px;
}
.navbar__li {
  list-style-type: none;
}
.navbar__anchor:visited {
  color: var(--black2);
}
.navbar__anchor {
  color: var(--black2);
}
.navbar__anchor:hover {
  transition: 0.4s;
  background-color: var(--white2);
  color: var(--blue2);
}

.navbar__anchor:active {
  transition: 0.4s;
  background-color: var(--white2);
  color: var(--blue2);
}

.navbar__ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: solid 3px rgb(131, 129, 129);
}

.navbar__img:hover {
  transition: 0.4s;

  cursor: pointer;
}
