.contact {
  display: grid;
  flex-direction: column;
  text-align: center;
  height: 85vh;
  background-color: var(--white);
  color: var(--black2);
  margin-top: 30px;
}

.contact__header-container {
  display: inline-flex;
  align-items: center;
  margin: 20px;
}

.contact__line {
  width: 80%;
  background-color: var(--blue2);
  margin-left: 0.5rem;
  height: 1px;
}

.contact__anchor {
  background-color: var(--black-bg-color);
  text-decoration: none;
  border: 3px solid black;
  border-radius: 10px;
  color: var(--white);
  padding: 35px;
  width: 200px;
}

.contact__anchor:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #00319b;
}

.contact__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation-name: breath;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 10px;
}

@keyframes breath {
  0% {
    background-color: var(--grey);
  }

  50% {
    background-color: var(--white);
  }

  100% {
    background-color: var(--grey);
  }
}

.contact__signature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contact__signature {
  font-size: 0.6rem;
}

.containers {
  margin: 0 15%;
}

@media (min-width: 768px) {
  .contact__anchor:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: var(--blue2);
  }
}
