footer {
  display: grid;
  height: 100vh;
  background-color: var(--white-bg-color3);
  color: black;
}

.main-container {
  display: grid;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  grid-template-rows: 5% 5% 35% auto;
  /* background-color: brown; */
  margin: 20px;
  align-items: center;
  /* align-content: center; */
}

.little-container {
  display: grid;
  border: 3px solid black;
  border-radius: 10px;
  padding: 50px 100px 50px;
  margin-top: 30%;
}
.contact-text1 {
  /* grid-row: 1 / span 2; */
  text-align: left;
  /* background-color: yellow; */
}

.line {
  width: 200px;
  background-color: var(--white-bg-color);
  height: 4px;
  border-radius: 10px;
}

.contact-text2 {
  /* background-color: blue; */
}

.say-hello {
  background-color: var(--text-blue-color);
  text-decoration: none;
  border: 3px solid black;
  border-radius: 10px;
  color: var(--white-bg-color);
  /* padding: 55px; */
}

.contact-text3 {
  font-weight: 100;
  font-size: 20px;
  margin-top: 10%;
}

.contact-text3 span {
  background-color: var(--text-blue-color);
  font-weight: 400;
  border-radius: 10px;
  padding: 4px;
  color: white;
}
