@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@300&family=Orbitron:wght@600&family=Roboto+Mono:wght@200&family=Roboto:wght@100;400&family=Zen+Dots&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 23px;
  scroll-behavior: smooth;
}
:root {
  --white: #ffffff;
  --white2: rgb(233, 233, 233);
  --grey: rgb(150, 150, 150);
  --black-bg-color: #17141d;
  --black2: #2b353f;
  --blue: #00319b;
  --blue2: #003fc7;
  --blue3: #446ec8;
}

body {
  color: var(--black2);
  padding: 0;
  margin: 0;
  background-color: var(--black-bg-color);
  color: var(--white);
  font-family: 'DM Mono', monospace;
}
a {
  text-decoration: none;
}
