@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700&family=Open+Sans:wght@300&family=Roboto:wght@100;400&family=Zen+Dots&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 25px;
  scroll-behavior: smooth;
}
:root {
  --white-bg-color: #ffffff;
  --white-bg-color2: rgb(150, 150, 150);
  --white-bg-color3: rgb(233, 233, 233);
  --text-blue-color-hard: #00319b;
  --text-blue-color: #003fc7;
  --text-blue-color-soft: #446ec8;
  --text-black-color: #2b353f;
  --black-bg-color: #17141d;
  --hover-white-text: rgb(227, 227, 227);
}

body {
  color: var(--text-black-color);
}
a {
  text-decoration: none;
}
